
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 100px;
}

.nav{
    display: flex;
  justify-content: center; 
  background-color: #333;
  padding: 10px 20px;
  position: fixed; 
  width: 100%;
  top: 0;
  color: gold;
}


.child {
    height: 200px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-size:cover;
}

.child:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
